# ==========================
#        GLOBAL
# ==========================
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db

# Entornos virtuales generales
env/
venv/
.venv/

# Archivos de entorno
.env
.env.*.local

# ==========================
#        BACKEND
# ==========================

# Compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# SQLite database
*.db
*.sqlite3

# Cache y artefactos
.mypy_cache/
.pytest_cache/
coverage/
dist/
build/

# Uvicorn reload artifacts
reload/
hotreload/

# ==========================
#        FRONTEND
# ==========================

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vite
dist/
.vite/
*.local

# Logs
*.log

# Editor
.vscode/
.idea/

# Tailwind
*.css.map
